<p>アプリ案内</p>
<div id="agripark">
  初めての方へ<br>
  農業初心者でも自分が作った作物を一定の品質や収穫量を保つには何が大事？<br>
  気持ち？体力？お金？天候？<br>
  どれも大事です！！<br>
  経験を重ねないとわからないこともありますが<br>
  失敗続きでは心が折れてしまう<br>
  そうならないために<br>
  日々の作業を記録しそこから次は何が必要か考え、実施する<br>
  数値や文字で視覚化することで<br>
  根拠に基づいて作業内容を決め、効率良く行うためのアプリです<br>
  畑栽培、ハウス栽培、家庭菜園、観葉植物など<br>
  何か育ててみたいなと思う方におススメです<br>
</div>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
