<div class="user">
  <div class = "username">ユーザー名</div>
  <br>
  <%= @user.name %>さん

  

  <div class="avatar">プロフィール写真
  <% if @user.avatar? %>
  　<%= image_tag @user.avatar.url %>
　
　<% end %>
  </div>
</div>
