<div class="user">
  <div class = "username">ユーザー名</div>
  <br>
  <%= @user.name %>さん

  <div class="introduction">自己紹介
    <%= @user.introdution %>
  </div>

  <div class="avatar">プロフィール写真
  <% if @user.avatar? %>
  　<%= image_tag @user.avatar.url %>
　
　<% end %>
  </div>
</div>
