/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

 /* .fc-toolbar.fc-header-toolbar {
   height: 30px;
 } */


 .logo {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  display: table-cell;]
  margin: 0 auto;
  /* background-color: red; */
  margin-right: 50px;
  width: 130px;
  /* float: left; */
 }
 .top_menu  {
  float: right;
  padding: 15px;
  /* display: flex */
  /* background-color: blue; */
}
 .header {
   background-color: #0bbf41;
   height: 100px;
   width: 100%;
   font-size: 1.5rem;
   display: table
   /* display: flex */
 }

 .channel-menu {
  position: fixed;
  top: 0;
  /* float: left; */
  @media screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    padding-left: 0;
  }
}
.channel_name .prefix {
  margin-right: 8px;
}

.channel-menu_prefix {
  padding-right: 0.5rem;
  font-weight: 500;
}
.channel-menu_date {
  font-weight: bold;
}
.channel-menu h3 {
  float: right;
  padding-right: 0.1rem;
  font-weight: 500;
}
.listings {
  min-height: 125vh;
  height: 100%;
  width: 230px;
  float: left;
  color: #ab9ba9;
  background-color: #edb553;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.listings_channels {
  margin: 1rem 0 2rem;
}

.listings_header {
  text-align: center;
  font-size: 1.5rem;
  line-height: 0rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #9828de;
  width: 165px;
  position: relative;
}

.channel_list {
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: #ab9ba9;
}

.channel {
  height: 24px;
  line-height: 24px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-right: 17px;
  color: #ffffff;
  padding-left: 1rem;
  a {
    color: #ddd;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }
  a:hover {
    color: #eee;
  }
}

.channel.active {
  background: #4c9689;
}

.article {
  /* float: left; */
}











.footer {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  bottom: 0;
  background-color: #0bbf41;
  height: 100px;
  display: table;
  /* margin-top: auto; */
}
.pfooter {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
