// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.agripark {
  height: 300px;
  text-align: center;
  // background-color: red;
  // float: left;
  // margin:
}

.container {
  height: 400px;
  // background-color: yellow;
  // margin: 1200px;

}

.contents {
  float: right;
  // background-color: blue;
  // height: 200px;
}

.rowp{
  // background-color: red;
  text-align: center;
}
