// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.agripark {
  height: 300px;
  text-align: center;
  // background-color: red;
  // float: left;
  // margin:
  // color: green;
}

.container {
  height: 400px;
  // background-color: yellow;
  // margin: 1200px;

}

.contents {
  float: right;
  // background-color: blue;
  // height: 200px;
}

.rowp{
  // background-color: red;
  text-align: center;
}


.img{
  position: relative;
  background-image: image-url('gahag-0084225872-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
// .img::before{
//   content: '';
//   display: block;
//   padding-top: 50%;
// }
