<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">リンク集</h2>
    <ul class="channel_list">
      <%= link_to "コスト一覧", costs_path %>
      <%= link_to "コスト新規作成", new_cost_path %>
    </ul>
  </div>
</div>
