<div class ="sidebar__closed">
  <%= link_to "#", {class: "btn link", data:{action:'toggle', side:'left'}} do %>
  < a href="#" class="btn btn-primary" data-action="toggle" data-side="left" %><span>Toggle Left</span></a>
    メニューを閉じる
</div>
